
body {
    color: rgba(0,0,0,.9);
    font-size: 16px;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont,
                   'avenir next', avenir,
                   helvetica, 'helvetica neue',
                   ubuntu,
                   roboto, noto,
                   'segoe ui', arial,
                   sans-serif;
    margin: 0px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0;
    margin: 0 auto;
}

/* Headers */
h1 {
    font-size: 32px;
    color: white;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h1, h2, h3 {
    line-height: 1.25;
}

h3 {
    margin-bottom: 0;
}

h1, h2, h3, p {
    max-width: 600px; /* Limit the line length to around 66 characters to improve readability */
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 0px 0;
}

section h1, section h2, section h3 {
    margin-top: 0;
}

/* Introduction */
section#introduction {
    padding: 48px 0;
    background-color: #5e2ca5;
    margin: 0;
}

section#introduction h1 {
    margin-bottom: 0;
}

.considerations {
    margin-top: 10px; 
}

/* Visualizations */
#vis {
    
}

/* Footer */
footer {
    padding: 36px 0;
    background-color: #eee;
    font-size: 1.2rem;
}

footer p {
    text-align: center;
    margin: 0 auto;
    opacity: 0.6;
}

.purple {
    background-color: purple;
    color: white;
    padding: 2px;
}

.red {
    background-color: red;
    color: white;
    padding: 2px;
}

.settings {
    display: inline-block;
    text-align: center;
}

.control {
    display: inline-block;
}

.form-control {
    min-width: 200px;
    margin: 0 auto;
}

#stateSettings {
    margin-left: auto;
    
}

#axisSettings {
    margin-left: auto;
    margin-right: auto;
    display: inline-block
}

.control {
    display: inline-block;
    margin: 10px;
}